.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

div.nav {
    background-color: #ffffff;
    height: 81px;
}

li.nav {
    display: inline-block;
    text-align: left;
    margin-top: 32px;
    /*margin: 0 auto;*/
}

.but1 {
    margin-left: 332px;
}

.but2 {
    margin-left: 65px;
}

.but3 {
    margin-left: 70px;
}

.but4 {
    margin-left: 78px;
}

a.nav {
    color: #16a085;
    font-size: 18pt;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.picture {
    display: block;
    margin: 0 auto;
}

.main {
    height: 650px;
    background-color: #f5f6f7;
}

.main-content {
    font-family: 'Roboto';
    font-size: 16pt;
    text-align: center;
    padding-top: 34px;
    padding-left: 113px;
    padding-right: 113px;
}

.upper {
    text-transform: uppercase;
    padding-top: 59px;
    font-size: 22pt;
}

.button {
    display: block;
    margin-top: 41px;
    margin-left: 527px;
    margin-right: 561px;
    font-family: sans-serif;
    font-size: 11pt;
    background-color: #16a085;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 23px 45px 18px 43px;
}

.footer {
    height: 108px;
}

.footer-copyright {
    font-family: 'Roboto';
    text-align: right;
    padding-right: 104px;
    padding-top: 47px;
    padding-bottom: 45px;
}